<!-- Toolbar -->
<div class="toolbar">
  <div class="header">
    <h2 (click)="onBack()">dev<span id="book">Book</span></h2>
    <div class="input-pesq input-group">
      <input
        #newToDo
        type="text"
        class="form-input form-control"
        placeholder="Pesquisar"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
      />
      <span
        (click)="onUserChange(newToDo.value)"
        class="icon-input input-group-text"
        id="basic-addon2"
        ><fa-icon [icon]="faSearch"></fa-icon
      ></span>
    </div>
  </div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
